.logo {
  max-width: 350px;
  margin-top: 8%;
  margin-bottom: 80px;
  position: relative;
  z-index: 2; /* Topmost layer */
  text-align: center;
}
.bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/bg-pattern.png"); /* Path to your pattern image */
  opacity: 0.03; /* Adjust opacity as needed */
  z-index: 10; /* Above the video, below the content */
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}
.masthead-content {
  position: relative;
  z-index: 2; /* Topmost layer */
  text-align: center;
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-auto {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}